@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed');
@import url('https://fonts.googleapis.com/css?family=Asap');


.title {
    font-family: 'Barlow Condensed', cursive;
    font-weight: bold;
}

.label {
    font-family: 'Asap', cursive;
}

.side-panel {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.4));
}
.navbar-dark.scrolled .side-panel {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white !important;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.4));
}

.side-panel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #444 !important;
    display: block;
    transition: 0.3s;
}

.side-panel a:hover {
    color: #000000;
}

.side-panel .close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.open-btn {
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    padding: 10px 15px;
    border: none;
}

.open-btn:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.open-btn.scrolled {
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    color: black;
    padding: 10px 15px;
    border: none;
}

.open-btn.scrolled:hover {
    background-color: rgba(0, 0, 0, 0.2);
}




.bg-dark {
    transition: 200ms ease;
    background: transparent !important;
}

.bg-dark.scrolled {
    transition: 200ms ease;
    background: white !important;
}

.navbar-dark a {
    color: white !important;
}

.navbar-dark.scrolled a {
    color: #444 !important;
}

.navbar-dark .nav-link a {
    color: rgba(255, 255, 255, 0.7) !important;
}

.navbar-dark.scrolled .nav-link a {
    color: #444444 !important;
}

